.login-form {
    max-width: 920px;
    min-width: 700px;
    border-color: #111111;
    border-width: thin;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

div{
    height: 100%;
    background-color: #DCDCDE;
}